@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(fonts/DidactGothic-Regular.otf) format('opentype');
}
