{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
    {{ macros::title_or_last(component=section) }} - {{ config.title }}
{% endblock htmltitle %}

{% block title %}
    {{ macros::title_or_last(component=section) }}
{% endblock title %}

{% block content %}
<ul>
    {% for page in section.pages %}
        <li>
            {% if page.date %}
                {{ macros::format_date(date=page.date) }} -- 
            {% endif %}
            <a href="{{ page.permalink }}">{{ macros::title_or_last(component=page, offset=0) }}</a>
        </li>    
    {% endfor %}
</ul>
{% endblock content %}
