{% extends "base.html" %}

{% block htmltitle %}
    {{ term.name }} - {{ config.title }}
{% endblock htmltitle %}

{% block title %}
    {{ term.name }}
{% endblock title %}

{% block content %}
<ul>
    {% for page in term.pages %}
        <li>
            {% if page.date %}
                {{<format_date date={page.date} config={config} />}} -- 
            {% endif %}
            <a href="{{ page.permalink }}">{{<title_or_last component={page} offset={0} />}}</a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}
